[Unit]
Description=Persistent Log Storage Bind

[Mount]
What=/usr/share/xact/ssd/log
Where=/run/logp
Type=none
Options=bind

[Install]
WantedBy=local-fs.target

