[Unit]
Description=Persistent Log Storage Bind

[Mount]
What=/usr/share/xact/ssd/journal
Where=/var/log/journal
Type=none
Options=bind

[Install]
WantedBy=local-fs.target

