[Unit]
Description=Xact Boot Script
After=boot-complete.target usr-share-xact-card1.mount

[Service]
StandardError=journal
ExecStart=/bin/bash -c xact-init

[Install]
WantedBy=multi-user.target

