[Unit]
Description=Xact Boot Script
Requires=basic.target
Wants=usr-share-xact-card1.mount

[Service]
StandardError=journal
ExecStart=/bin/bash -c xact-init

[Install]
WantedBy=multi-user.target

